@keyframes error-appearance
    from
        opacity 0
        transform translateX(-1em)
    to
        opacity 0.25
        transform translateX(0)

@keyframes popup-appearance
    from
        opacity 0
        transform translateY(-25%)
    to
        opacity 0.25
        transform translateX(0)

@keyframes opacity-toggle
    from
        opacity 0
    to
        opacity 1