center()
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)

composite(c, t, e)
    transition : c t e
    will-change : c

composites(ot, oe, tt, te)
    transition : opacity ot oe, transform tt te
    will-change : opacity, transform

full-size()
    width 100%
    height 100%

size(w, h)
    width w
    height h

position-absolute(l = 0, t = 0)
    left l
    top t

pseudo-element(w = 100%, h = 100%, l = 0, t = 0)
    content ''
    position absolute
    size(w, h)
    position-absolute(l, t)