// Colors
$color-red    = #ec4317
$color-orange = #f99520
$color-green  = #2eba03
$color-blue   = #64cdfa
$color-white  = #fceafb
$color-black  = #282828

// Fonts
$font-lato = 'Lato', sans-serif
$font-hmt  = 'HMT', sans-serif

// Numbers
$number-ranges = 4

// Sizes
$size-card-width  = 480px
$size-card-height = 600px
$size-card-pctavg = ($size-card-width + $size-card-height) / 2 / 100