// Card
.container_card
    display flex
    flex-direction column
    position relative
    center()
    padding ($size-card-width / 12.5) ($size-card-height / 12.5)
    width $size-card-width
    height $size-card-height
    background-color $color-black
    border-radius $size-card-pctavg
    box-shadow ($size-card-pctavg * 1.25) ($size-card-pctavg * 1.25) ($size-card-pctavg * 2.5) rgba(0, 0, 0, 0.5)

    // Title
    .title.title_home,
    .title.title_log,
    .title.title_register
        display flex
        flex 0.25
        margin auto
        font-family $font-hmt
        font-size 5em
        h1
            margin auto

    // Options page
    .options
        display flex
        flex 0.75
        flex-direction row
        margin auto 0
        a
            display block
            margin auto
            padding 0.75em 1.5em
            background $color-white
            border-radius 0.125em
            color $color-black
            font-size 1.125rem
            text-align center
            text-transform uppercase
            opacity 0.25
            composite(opacity, 0.25s, ease-in-out)
            &:hover
                opacity 1

    // Form pages
    form
        flex 0.75
        margin auto 0
        user-select none
        input
            height auto
            &[type="text"],
            &[type="password"]
                width 100%
                margin $size-card-pctavg 0
                &:focus + .border::after
                    opacity 1

            &[type="submit"]
                cursor pointer
                margin ($size-card-pctavg * 10) 0
                padding 0.75em 1.5em
                border 0.0625rem solid $color-white
                border-radius 0.125em
                font-weight 300
                text-transform uppercase
                opacity 0.25
                composite(opacity, 0.25s, ease-out)
                &:hover
                    opacity 1

        // Extra
        .border
            position relative
            width 100%
            padding-top 0.125em
            &::after
                pseudo-element()
                border-top 0.0625rem solid $color-white
                opacity 0.25
                composite(opacity, 0.125s, ease-in)

            .message
                display inline-block
                font-size 0.75em
                font-style italic
                font-weight 300
                opacity 0
                transform-origin 0 0
                transform translateX(-1em)
                composites(0.5s, ease-out, 0.55s, ease-out)
                animation error-appearance 0.5s ease-out 0.5s forwards

    // Redirection
    .redirection
        margin auto
        position relative
        font-size 0.75em
        font-weight 300
        text-transform uppercase
        opacity 0.25
        composite(opacity, 0.5s, ease-out)
        &::after
            pseudo-element(100%, 0.0625rem, 0, 125%)
            background-color $color-white
            transform scaleX(0)
            composite(transform, 0.25s, ease-out)
        &:hover
            opacity 1
            &::after
                transform none