// Overlay
.overlay
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background-color $color-black
    opacity 0.75
    composite(opacity, 0.25s, ease-out)
    z-index 5
    &.hidden
        opacity 0
        z-index -5

// Pop up
.popup
    center()
    padding 1em
    background-color $color-blue
    border-radius $size-card-pctavg
    box-shadow 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.25)
    composites(0.25s, ease-out, 0.25s, ease-out)
    z-index 10
    .message
        font-weight 300
    .choices
        position relative
        margin-top 1em
        a
            position relative
            margin auto
            padding 1em
            width 50%
            float left
            text-align center
            font-weight 700
            &::before
                pseudo-element()
                background-color darken($color-blue, 10)
                opacity 0
                composite(opacity, 0.25s, ease-out)
                z-index -1
            &:hover::before
                opacity 1
    &.hidden
        transform translate(-50%, -25%)
        opacity 0
        z-index -10