.content
    // Stats
    .stats
        display flex
        flex-direction row
        width 100%
        height 5%
        cursor default
        user-select none
        .stat
            position relative
            margin auto
            text-align center
            i
                opacity 0.25
            .data
                display inline-block
                position absolute
                right -1.125em
                top -1.125em
                width 1.875em
                height 1.875em
                padding 0.5em 0
                border-radius 50%
                font-size 0.75em
                font-weight 700
                opacity 0.75