.container_card.page_app .content
    // Table
    .tasks
        width 100%
        font-weight 300
        // Row
        tr
            &:not(:first-child)
                border-top 0.0625em solid lighten($color-black, 12.5)
            // Column
            td
                padding 1.25em 0
                // Task displayed
                &.v,
                &.p,
                &.e,
                &.d
                    text-align center
                // Validate
                &.v
                    width 10%
                    vertical-align middle
                    a
                        display inline-block
                        width 1em
                        height 1em
                        background-color lighten($color-black, 12.5)
                        border 0.0625rem solid darken($color-black, 5)
                        border-radius 25%
                // Task
                &.t
                    width 50%
                    position relative
                    font-size 0.875em
                    .missed
                        color $color-blue
                        font-weight 700
                    .expiry_date
                        position absolute
                        left 0
                        bottom 0.375em
                        font-size 0.75em
                        opacity 0.5
                // Prioritize
                &.p
                    width 20%
                    .prioritize
                        display inline-block
                        position relative
                        width 0.75em
                        height 0.75em
                        background-color lighten($color-black, 12.5)
                        border 0.0625rem solid darken($color-black, 5)
                        border-radius 50%
                        &::after
                            pseudo-element()
                            border-radius 50%
                            opacity 0
                            composite(opacity, 0.25s, ease-out)
                        &:hover::after,
                        &.checked::after
                            opacity 1
                        &.low::after
                            background-color $color-green
                        &.medium::after
                            background-color $color-orange
                        &.high::after
                            background-color $color-red
                // Edit & delete
                &.e,
                &.d
                    width 10%
                    a
                        color $color-white
                        opacity 0.25
                        composite(opacity, 0.25s, ease-out)
                        &:hover
                            opacity 1

                // Task edited
                form
                    width 100%
                    input
                        font-size 0.75em
                    input[name="task"]
                        padding-bottom 0.5em
                        width 40%
                        border-bottom 0.0625em solid $color-white
                    input[name="day"],
                    input[name="month"],
                    button[type="submit"],
                    a.cancel
                        width 10%
                        text-align center
                    input[name="year"]
                        width 20%
                        text-align center
                    input[type="number"]
                        padding 0.5em 0.25em
                        background-color lighten($color-black, 5)
                    button[type="submit"],
                        a.cancel
                        padding 0.25em
                        cursor pointer
                        &:hover
                            opacity 1
                    > *
                        opacity 0.25
                        composite(opacity, 0.25s, ease-out)
                        float left
                        &:focus
                            opacity 1