.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: size(xl);
  padding: 0 space(md);
  font-size: size(xs);
  text-transform: uppercase;
  border-radius: $global-radius;
  cursor: pointer;
  opacity: .25;
  transition: opacity $smooth;

  &:hover {
    opacity: 1;
  }

  &:not(.isPrimary) {
    color: color(light);
    border: solid .1rem color(light);
  }

  &.isPrimary {
    color: color(dark);
    background-color: color(light);
  }
}
