$path: "/fonts";
$font-title: "Hmt", sans-serif;
$font-base: "Lato", sans-serif;

@font-face {
  font-weight: normal;
  font-family: "HMT";
  src: url("#{$path}/Hmt-Regular.woff") format("woff"),
    url("#{$path}/Hmt-Regular.woff2") format("woff2")
  ;
}

@font-face {
  font-weight: 300;
  font-family: "Lato";
  src: url("#{$path}/Lato-Light.woff") format("woff"),
    url("#{$path}/Lato-Light.woff2") format("woff2")
  ;
}

@font-face {
  font-weight: normal;
  font-family: "Lato";
  src: url("#{$path}/Lato-Regular.woff") format("woff"),
    url("#{$path}/Lato-Regular.woff2") format("woff2")
  ;
}

@font-face {
  font-weight: 700;
  font-family: "Lato";
  src: url("#{$path}/Lato-Bold.woff") format("woff"),
    url("#{$path}/Lato-Bold.woff2") format("woff2")
  ;
}
