$easing: cubic-bezier(.5, 0, 0, 1);

$times: (
  shorter: .125s,
  short: .25s,
  normal: .5s,
  long: .75s,
  longer: 1s,
  longest: 1.5s,
);

@function time($name) {
  @return map-get($times, $name);
}

$smooth-quicker: time(shorter) $easing;
$smooth-quick: time(short) $easing;
$smooth: time(normal) $easing;
$smooth-slow: time(long) $easing;
$smooth-slower: time(longer) $easing;
$smooth-slowest: time(longest) $easing;
