/**
 * Radius
 */
$global-radius: 5px !default;

/**
 * Shadow
 */
$global-shadow: 5px 5px 10px rgba(color(dark), .5) !default;

/**
 * Size
 */
$global-width: 480px !default;
$global-height: 600px !default;
