.container {
  position: relative;
  display: grid;
  grid-gap: space(sm);
}

.input {
  font-weight: 300;
  font-size: size(xs);

  &.isFilled,
  &:focus {

    + .label {
      transform: translateY(calc(-100% - #{space(xs)})) scale(.75);
      opacity: 1;
    }

    + .border::after {
      transform: scaleX(1);
    }
  }
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: size(xs);
  transform-origin: left bottom;
  opacity: .25;
  transition: transform $smooth, opacity $smooth;
}

.border {
  position: relative;
  height: .1rem;
  background-color: color(light, .25);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: color(light);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $smooth;
    content: "";
  }
}
