.container {
  display: grid;
  grid-gap: space(xl);
  grid-template-rows: auto auto 1fr;
}

.wrapper {
  display: grid;
  grid-gap: space(lg);
}

.link {
  display: grid;
  grid-gap: space(sm);
  align-self: flex-end;
  justify-self: center;
  font-size: size(xs);
  text-align: center;
  opacity: .25;
  transition: opacity $smooth;

  &::after {
    height: .1rem;
    background-color: color(light);
    transform: scaleX(0);
    transition: transform $smooth;
    content: ""
  }

  &:hover {
    opacity: 1;

    &::after {
      transform: scaleX(1);
    }
  }
}
